.container{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.pixel{
    background-color: grey;
}

.grid{
    background-color: pink;
    border: solid;
    padding: 8px;
    font-weight: bold;
    font-size: 17px;
    border-radius: 6px;
}